
# Playwright
node_modules/
dist/
.env
 
# Playwright outputs
playwright-report/
test-results/
blob-report/
allure-results/
allure-report/
__snapshots__/
 
# OS
.DS_Store
Thumbs.db
 
# IDE
.vscode/settings.json
.idea/
*.iml
 
# Logs
*.log
npm-debug.log*
